:root {
    --bg: {{ colors.background.default.hex }};
    --fg: {{ colors.on_surface.default.hex }};
    --panel: {{ colors.surface.default.hex }};
    --accent: {{ colors.primary.default.hex }};
    --stroke: {{ colors.on_secondary_container.default.hex }};
    --selection: {{ colors.surface_container_low.default.hex }};
    --radius: 6;
    --spacing: 6;
}
