/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: {{colors.primary_container.default.hex}} !important;
  --toolbarbutton-icon-fill: {{colors.primary.default.hex}} !important;
  --toolbar-field-color: {{colors.on_background.default.hex}} !important;
  --tab-selected-textcolor: {{colors.primary.default.hex}} !important;
  --toolbar-color: {{colors.on_background.default.hex}} !important;
  --arrowpanel-color: {{colors.on_surface.default.hex}} !important;
  --arrowpanel-background: {{colors.surface_container.default.hex}} !important;
  --sidebar-text-color: {{colors.on_background.default.hex}} !important;
/*  --zen-main-browser-background: {{colors.background.default.hex}} !important; */
}

.sidebar-placesTree {
  background-color: {{colors.surface_container.default.hex}} !important;
}

#zen-workspaces-button {
  background-color: {{colors.surface_container.default.hex}} !important;
}

#TabsToolbar {
  background-color: {{colors.background.default.hex}} !important;
}

.urlbar-background {
  background-color: {{colors.surface_container.default.hex}} !important;
}

.urlbar-input::selection {
  color: {{colors.on_primary.default.hex}} !important;
  background-color: {{colors.primary.default.hex}} !important;
}

.urlbarView-url {
  color: {{colors.on_surface_variant.default.hex}} !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: {{colors.primary.default.hex}}
    }
  }
}

#zen-appcontent-navbar-container {
  background-color: {{colors.background.default.hex}} !important;
}
