/*
* ┳┓┓┏┏┓┏┓┏┓  ┓ ┏┏┓┓┏┳┓┏┓┳┓  ┏┓┏┓┏┓
* ┣┫┗┫┏┛ ┃┃ ━━┃┃┃┣┫┗┫┣┫┣┫┣┫━━┃ ┗┓┗┓
* ┛┗┗┛┗━┗┛┗┛  ┗┻┛┛┗┗┛┻┛┛┗┛┗  ┗┛┗┛┗┛
*/

@import "./matugen/matugen-waybar.css";

@define-color background-alpha alpha(@background, 0.8);

/*
* Global Properties
*/

* {
  font-size: 12px;
  font-family: GeistMono Nerd Font Propo;
  font-weight: bold;
}

window#waybar {
  all: unset;
}

/*
* left module properties
*/

#apps {
  margin: 5px 5px 0px 5px;
  padding: 7px;
  background: @background-alpha;
  border-radius: 18px;
  color: @primary;
}

#music {
  margin: 5px 5px 0px 5px;
  padding: 7px;
  background: @background-alpha;
  border-radius: 18px;
  color: @primary;
}

#custom-launcher {
  padding: 0px 1em;
}

#custom-pacman,
#memory,
#cpu,
#temperature {
  padding: 0px 7px;
}

#usage {
  margin: 0px 1em 0px 0px;
}

#mpris {
  padding: 0px 14px 0px 1em;
}

#custom-cava {
  padding: 0px 1em 0px 0px;
}

#custom-launcher:hover,
#custom-pacman:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#mpris:hover,
#custom-cava:hover {
  color: @on_surface;
}

/*
* Center Module Properties
*/

.modules-center {
  margin: 5px 0px 0px 0px;
  padding: 7px;
  background: @background-alpha;
  border-radius: 18px;
  color: @primary;
}

#custom-weather {
  padding-left: 1em;
  padding-right: 7px;
}

#workspaces,
#clock {
  padding-left: 7px;
  padding-right: 7px;
}

#workspaces button {
  padding: 0px 14px;
  color: @on_primary_container;
  border-radius: 100px;
  transition: width 300ms linear 0s;
}

#workspaces button.active {
  background: linear-gradient(360deg, @primary_container, @primary);
  color: @background-alpha;
  transition: width 300ms linear 0s;
}

#workspaces button.urgent {
  background: linear-gradient(360deg, @error_container, @error);
  color: @on_error_container;
  transition: width 300ms linear 0s;
}

#workspaces button:hover {
  background: linear-gradient(
    360deg,
    alpha(@primary_container, 0.5),
    alpha(@primary, 0.5)
  );
  color: @background-alpha;
  transition: width 300ms linear 0s;
}

#custom-notification {
  padding-left: 7px;
  padding-right: 1em;
}

#custom-weather:hover,
#clock:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover,
#custom-notification:hover {
  color: @on_surface;
}

/*
* Right Module Properties
*/

#traysystem {
  margin: 5px 5px 0px 0px;
  background: @background-alpha;
  border-radius: 18px;
  padding: 7px;
  color: @primary;
}

#tray {
  padding: 0px 1em;
}

#systemtools {
  margin: 5px 5px 0px 5px;
  background: @background-alpha;
  border-radius: 18px;
  padding: 7px;
  color: @primary;
}

#backlight,
#custom-colorpicker,
#custom-power-menu,
#pulseaudio,
#bluetooth,
#network {
  padding: 0px 10px;
}

#battery {
  padding: 0px 7px 0px 14px;
}

#idle_inhibitor,
#power-profiles-daemon {
  padding: 0px 7px;
}

#backlight:hover,
#custom-colorpicker:hover,
#custom-power-menu:hover {
  color: @on_surface;
}

/*
* Tooltip Properties
*/

tooltip {
  background: alpha(@surface, 0.8);
  border: 2px solid @primary;
  border-radius: 12px;
}

tooltip label {
  color: @on_surface;
  padding: 6px;
}
