@import url("file:///home/haku/.config/waypaper/matugen.css");

button {
    padding: 5px;
    margin: 5px;
    background-image: none;
    box-shadow: none;
    border: 3px solid transparent;
    border-radius: 8px;
}

tooltip {
    background-color: @window_bg_color;
    color: @window_fg_color;
    border: 2px solid @accent_color;
    border-radius: 8px;
}

button:hover {
    background-image: none;
    box-shadow: 0 0 5px @accent_color;
    border: 3px solid @accent_color;
    border-radius: 8px;
}

.highlighted-button {
    background-image: none;
    box-shadow: none;
    background-color: @accent_bg_color;
    border: 3px solid @accent_color;
    border-radius: 8px;
    box-shadow: 0 0 5px @accent_color;
}

.highlighted-button > image,
.highlighted-button:hover > image {
    -gtk-icon-effect: highlight;
}
