@import url("file:///home/haku/.config/waypaper/matugen.css");

button:hover {
    background-image: none;
    box-shadow: none;
    border-color: transparent;
}

button:hover > image {
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}

.highlighted-button {
    background-image: none;
    box-shadow: none;
    background-color: @accent_bg_color;
    border: 3px solid @accent_color;
    border-radius: 8px;
    box-shadow: 0 0 5px @accent_color;
}

.highlighted-button > image,
.highlighted-button:hover > image {
    -gtk-icon-effect: highlight;
}
