/*
* ┳┓┓┏┏┓┏┓┏┓  ┓ ┏┏┓┓┏┳┓┏┓┳┓  ┏┓┏┓┏┓
* ┣┫┗┫┏┛ ┃┃ ━━┃┃┃┣┫┗┫┣┫┣┫┣┫━━┃ ┗┓┗┓
* ┛┗┗┛┗━┗┛┗┛  ┗┻┛┛┗┗┛┻┛┛┗┛┗  ┗┛┗┛┗┛
*/

@import "./matugen/matugen-waybar.css";

/*
* Global Properties
*/

* {
  font-size: 12px;
  font-family: GeistMono Nerd Font Propo;
  font-weight: bold;
}

window#waybar {
  all: unset;
  text-shadow: -1px -1px 1px @surface-alpha, 1px -1px 1px @surface-alpha,
    -1px 1px 1px @surface-alpha, 1px 1px 1px @surface-alpha;
}

/*
* Left Module Properties
*/

.modules-left {
  margin: 0px 0px 0px 10px;
  border-radius: 0px 0px 10px 10px;
  background: alpha(@surface, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

#custom-pacman,
#custom-weather {
  margin: 0px 5px 5px 5px;
  padding: 8px 10px;
  color: @on_surface;
  border: 0.7px solid alpha(@on_primary_container, 0.6);
  border-top: none;
  border-radius: 0px 0px 8px 8px;
}

#custom-launcher {
  margin: 0px 5px 5px 5px;
  padding: 8px 13px 8px 10px;
  color: @on_surface;
  border: 0.7px solid alpha(@on_primary_container, 0.6);
  border-top: none;
  border-radius: 0px 0px 8px 8px;
}

#usage,
#power,
#player {
  margin: 0px 5px 5px 5px;
  color: @on_surface;
  border: 0.7px solid alpha(@on_primary_container, 0.6);
  border-top: none;
  border-radius: 0px 0px 8px 8px;
}

#cpu,
#memory,
#temperature,
#battery,
#mpris,
#custom-cava {
  padding: 8px 10px;
}

#idle_inhibitor,
#power-profiles-daemon {
  padding: 8px 13px 8px 10px;
}

#memory,
#idle_inhibitor {
  border-left: 0.7px solid alpha(@on_primary_container, 0.6);
  border-right: 0.7px solid alpha(@on_primary_container, 0.6);
}

#custom-launcher:hover,
#custom-pacman:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#battery:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover,
#custom-weather:hover,
#player:hover {
  color: @tertiary;
  background: alpha(@on_primary_container, 0.1);
  transition: all 0.3s ease;
}

/*
* Center Module Properties
*/

.modules-center {
  margin: 0px 0px 0px 10px;
  border-radius: 0px 0px 10px 10px;
  background: alpha(@surface, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

#hyprland {
  margin: 0px 5px 5px 5px;
  color: @on_surface;
  border: 0.7px solid alpha(@on_primary_container, 0.6);
  border-top: none;
  border-radius: 0px 0px 8px 8px;
}

#window {
  padding: 0px 0px 0px 10px;
  min-width: 16px;
}

#workspaces {
  padding: 0px 10px 0px 10px;
}

#workspaces button {
  color: @on_surface;
  border-left: 0.7px solid transparent;
  border-right: 0.7px solid transparent;
}

#workspaces button:hover {
  color: @tertiary;
  background: alpha(@on_primary_container, 0.1);
  border-left: 0.7px solid alpha(@on_primary_container, 0.6);
  border-right: 0.7px solid alpha(@on_primary_container, 0.6);
  transition: all 0.3s ease;
}

#workspaces button.active {
  color: @tertiary;
  background: alpha(@on_primary_container, 0.5);
  border-left: 0.7px solid alpha(@on_primary_container, 0.6);
  border-right: 0.7px solid alpha(@on_primary_container, 0.6);
  transition: all 0.3s ease;
}

#workspaces button.urgent {
  color: @error;
  transition: all 0.3s ease;
}

/*
* Right Module Properties
*/

.modules-right {
  margin: 0px 10px 0px 0px;
  border-radius: 0px 0px 10px 10px;
  background: alpha(@surface, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

#tray,
#clock,
#custom-notification,
#custom-power-menu {
  margin: 0px 5px 5px 5px;
  padding: 8px 10px;
  color: @on_surface;
  border: 0.7px solid alpha(@on_primary_container, 0.6);
  border-top: none;
  border-radius: 0px 0px 8px 8px;
}

#settings {
  margin: 0px 5px 5px 5px;
  color: @on_surface;
  border: 0.7px solid alpha(@on_primary_container, 0.6);
  border-top: none;
  border-radius: 0px 0px 8px 8px;
}

#bluetooth,
#network,
#pulseaudio,
#backlight,
#custom-colorpicker,
#custom-power-menu {
  padding: 8px 13px 8px 10px;
}

#tray:hover,
#clock:hover,
#custom-notification:hover,
#custom-power-menu:hover,
#bluetooth:hover,
#network:hover,
#pulseaudio:hover,
#backlight:hover,
#custom-colorpicker:hover {
  color: @tertiary;
  background: alpha(@on_primary_container, 0.1);
  transition: all 0.3s ease;
}

/*
* Tooltip Properties
*/

tooltip {
  background: alpha(@surface, 0.8);
  border: 2px solid @tertiary;
  border-radius: 12px;
}
tooltip label {
  color: @on_surface;
  padding: 6px;
}
