// ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┏┓┏┓┏┓
// ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┣┫┃┓┗┓
// ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┛┗┗┛┗┛

$primary: #e8b5ef;
$primary-fixed: #fcd7ff;
$primary-fixed-alpha: rgba(252, 215, 255, 0.2);
$primary-fixed-dim: #e8b5ef;
$on-primary: #472150;
$on-primary-fixed: #2f0a3a;
$on-primary-fixed-variant: #5f3768;
$primary-container: #5f3768;
$on-primary-container: #fcd7ff;
$secondary: #d6c0d6;
$secondary-fixed: #f3dbf2;
$secondary-fixed-dim: #d6c0d6;
$on-secondary: #3a2b3c;
$on-secondary-fixed: #241727;
$on-secondary-fixed-variant: #524154;
$secondary-container: #524154;
$on-secondary-container: #f3dbf2;
$tertiary: #f5b7b1;
$tertiary-fixed: #ffdad6;
$tertiary-fixed-dim: #f5b7b1;
$on-tertiary: #4c2521;
$on-tertiary-fixed: #33110e;
$on-tertiary-fixed-variant: #673b36;
$tertiary-container: #673b36;
$on-tertiary-container: #ffdad6;
$error: #ffb4ab;
$on-error: #690005;
$error-container: #93000a;
$on-error-container: #ffdad6;
$surface: #161217;
$surface-alpha: rgba(22, 18, 23, 0.7);
$on-surface: #eae0e7;
$on-surface-variant: #cfc3cd;
$outline: #988e97;
$outline-variant: #4c444c;
$shadow: #000000;
$scrim: #000000;
$inverse-surface: #eae0e7;
$inverse-on-surface: #342f34;
$inverse-primary: #794f82;
$surface-dim: #161217;
$surface-bright: #3d373d;
$surface-container-lowest: #110d11;
$surface-container-low: #1f1a1f;
$surface-container: #231e23;
$surface-container-high: #2e282e;
$surface-container-highest: #393338;
