[Unit]
Description=Weekly update of CachyOS mirrorlist

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=12h

[Install]
WantedBy=timers.target
